- @tasks.each do |task|
  .col-md-12.task{id: "task_#{task.id}"}
    .row
      .col-md-1
        .square{style: "background: #{get_priority_color(task)}"}
      .col-md-4
        = task.name
      .col-md-3
        = task.to_do_until.strftime('%a, %e %b %Y')
      .col-md-3.text-center
        = task.project&.title
      .col-md-1.text-right
        %span.dropdown_menu.dropleft
          #dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown"}
          .dropdown-menu
            %span{class: 'dropdown-item', id: "edit_task_#{task.id}"} Edit
            %span{ class: 'dropdown-item', id: "destroy_task_#{task.id}"} Delete
            %span{ class: 'dropdown-item', id: "destroy_task_#{task.id}"} Done
  .col-md-12.task.d-none{id: "form_task_#{task.id}"}
    = form_for task, url: "/tasks/#{task.id}", method: :patch, id: 'new_task', remote: true do
      .input-group
        = text_field_tag :name, task.name, class: 'form-control'
        = text_field_tag :to_do_until, task.to_do_until, placeholder: 'date', class: 'datepicker form-control '
        = select_tag :project_id, options_from_collection_for_select(@projects, :id, :title), class: 'form-control'
        = select_tag :priority, options_for_select(Task.priorities.collect{ |t| [t.first, t.first] }), class: 'form-control'
      .buttons.col-md-12.text-center
        = submit_tag 'Save', class: 'col-md-6'
        = link_to 'Cancel', '', class: 'col-md-6'
