!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Untitled
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-dark.bg-primary
      .container
        = link_to "TODO", root_path, class: 'navbar-brand'
        .text-right
          = link_to 'Archive', archive_tasks_path, id: 'archive_link'

    .container
      .col-md-12
      - if notice
        .alert.alert-primary.alert-dismissible.fade.show{:role => "alert"}
          %strong= notice
          %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
            %span{"aria-hidden" => "true"} ×
      - if alert
        .alert.alert-warning.alert-dismissible.fade.show{:role => "alert"}
          %strong= alert
          %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
            %span{"aria-hidden" => "true"} ×
      = yield
